.hide-button {
  display: none; }

.menu-button {
  margin: 5px 5px 5px 5px; }

.menu-item {
  margin-right: 10px; }

.menu-item-2 {
  margin-right: 30px; }

.menu-ul {
  list-style-type: none;
  padding-left: 0px; }

.menu-item-home {
  margin-right: 75px; }

.menu-item-add {
  margin-right: 40px; }

.menu-item-clear {
  margin-right: 20px; }

.shuffle-button {
  color: white !important;
  margin-left: 5px !important; }

.dual-switch {
  margin-left: 5px; }
